<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/competition.css">
</head>

<body>
    <div class="preloader">
        <div class="preloader-ring"></div>
    </div>
    <% include partials/header %>

    <!-- Shaders -->
    <script id="shader-fs" type="x-shader/x-fragment">
        #ifdef GL_ES
	    precision highp float;
	    #endif
	  void main(void) {
	   gl_FragColor = vec4(0.2, 0.3, 0.4, 1.0);
	  }
	</script>
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec3 vertexPosition;

	  uniform mat4 modelViewMatrix;
	  uniform mat4 perspectiveMatrix;

	  void main(void) {
	    gl_Position = perspectiveMatrix * modelViewMatrix * vec4(  vertexPosition, 1.0);
	  }
	</script>

    <!-- three.js -->

    <div id="webgl-output"></div>

    <div class="bg-mask"></div>
    <h1 style="padding-top:15vh; text-align: center; transform: scale(1);">
        <%- competition.displayName %>
    </h1>

    <div class="main-content">
        <div class="scroll-content" style="overflow-x: hidden" id="style-1">
            <div class="inner-content">
                <div class="text-padding" style="transform: scale(1);">

                    <!-- <div style="padding-left:23%">
            <button class="request__form-btn noise-btn btnfix" 
            type="submit"><span>Event Registration</span></button></div> -->
                    <div class="row justify-content-center">
                        <% if(competition.eventFee != null ){ %>
                        <div class="col-md-3 col-sm-12" style="text-align:center">Fee :
                            <strong>
                                <%- competition.eventFee %></strong>
                        </div>
                        <div class="col-md-3 col-sm-12" style="text-align:center">Date :
                            <strong>
                                <%- competition.eventDate %></strong>
                        </div>
                        <div class="col-md-3 col-sm-12" style="text-align:center">Venue :
                            <strong>
                                <%- competition.eventVenue %></strong>
                        </div>

                        <% } else {%>

                        <div class="col-md-6" style="text-align:center">Date :
                            <strong>
                                <%- competition.eventDate %></strong>
                        </div>
                        <div class="col-md-6" style="text-align:center">Venue :
                            <strong>
                                <%- competition.eventVenue %></strong>
                        </div>

                        <%} %>
                    </div>
                    <div class="row" style="padding-top: 5vh;">
                        <div class="col-2" style="padding-left: 5px;">
                            <ul>
                                <li>
                                    <a class='list-item' id="synopsis" href='#'>
                                        Synopsis
                                    </a>
                                </li>
                                <li>
                                    <a class='list-item' id="more" href='#'>
                                        Description
                                    </a>
                                </li>
                                <li>
                                    <a class='list-item' id="rules" href='#'>
                                        Rules
                                    </a>
                                </li>
                                <li>
                                    <a class='list-item' id="query" href='#'>
                                        Query
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="offset-1 col-8">
                            <div id="synopsiscontent">
                                <%- competition.synopsis %>
                            </div>
                            <div id="morecontent" class="d-none">
                                <%- competition.eventDescription %>
                            </div>
                            <div id="rulescontent" class="d-none">
                                <%- competition.rules %>
                            </div>
                            <div id="querycontent" class="d-none">
                                <%- competition.query %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer %>

    <script src="js/jquery.min.js"></script>
    <script src="js/scrollmagic.js"></script>
    <script src="js/sphere.js"></script>
    <script src="js/main.js"></script>
    <script src="js/competition.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        window.addEventListener('load', function () {

            var el = document.querySelector('.preloader');
            el.style.opacity = 2;

            (function fade() {
                if ((el.style.opacity -= 0.15) < 0) {
                    window.scrollTo(0, 0);
                    el.style.display = "none";
                    controls.redraw();
                    controls.rend();
                    controls.start();
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        });
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 1024) {
            function remove() {
                var elem = document.getElementById('rlbuttn_menu');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 500) {
            function remove() {
                var elem = document.getElementById('faqbtn_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 500) {
            function remove() {
                var elem = document.getElementById('faq_rm');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width < 769) {
            function remove() {
                var elem = document.getElementById('seprate');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
    <script>
        if (screen.width > 769) {
            function remove() {
                var elem = document.getElementById('mobsep');
                elem.parentNode.removeChild(elem);
                return false;
            }
            remove();
        }
    </script>
</body>

</html>